﻿<%@ Page Language="C#" MasterPageFile="~/Views/MasterPage.master" Inherits="System.Web.Mvc.ViewPage" %>
<asp:Content ID="headContent" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="MainContentContent" ContentPlaceHolderID="MainContent" runat="server">
	<h1>Welkom</h1>
        <p>Geef hieronder je klantennummer in:</p>
        <form method="post" action="/CR/Reserveer">
            <input type="text" name="klantennummer">
            <input type="submit" value="Reserveer" name="submit">
        </form>
		<form method="post" action="/CR/NieuweKlant">
            <input type="submit" value="Registeren" name="submit">
        </form>
</asp:Content>
